body {
	background-color: #38C4F2;
	text-align: center;
}

h1 {
	text-align: center;
	color: white;
}

div {
	padding: 20px;
}

button {
	background-color: #38C4F2;
	color: white;
	border: 1px white solid;
	width: 400px;
	height: 50px;
}

.tweet, .quote, .author {
	color: white;
}

.tweet {
	text-decoration: none;
}
