@import url("https://fonts.googleapis.com/css?family=Calligraffitti");
@import url("https://fonts.googleapis.com/css?family=Spectral+SC");
body {
  margin: 0 auto; }

* {
  box-sizing: border-box; }

.row::before, .row::after {
  content: "";
  display: table;
  clear: both; }

.col-1 {
  width: 8.33%; }

.col-2 {
  width: 16.66%; }

.col-3 {
  width: 25%; }

.col-4 {
  width: 33.33%; }

.col-5 {
  width: 41.66%; }

.col-6 {
  width: 50%; }

.col-7 {
  width: 58.33%; }

.col-8 {
  width: 66.66%; }

.col-9 {
  width: 75%; }

.col-10 {
  width: 83.33%; }

.col-11 {
  width: 91.66%; }

.col-12 {
  width: 100%; }

.col-offset-0 {
  margin-left: 0; }

.col-offset-1 {
  margin-left: 8.33%; }

.col-offset-2 {
  margin-left: 16.66%; }

.col-offset-3 {
  margin-left: 25%; }

.col-offset-4 {
  margin-left: 33.33%; }

.col-offset-5 {
  margin-left: 41.66%; }

.col-offset-6 {
  margin-left: 50%; }

.col-offset-7 {
  margin-left: 58.33%; }

.col-offset-8 {
  margin-left: 66.66%; }

.col-offset-9 {
  margin-left: 75%; }

.col-offset-10 {
  margin-left: 83.33%; }

.col-offset-11 {
  margin-left: 91.66%; }

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto; }

h1 {
  font-size: 16px; }

/* HEADER */
header {
  width: 100%;
  background-color: white;
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0px 1px 5px grey; }

header div a {
  float: left;
  margin-left: 20px;
  display: inline-block;
  height: 70px;
  line-height: 70px;
  color: black;
  text-decoration: none;
  text-transform: uppercase; }

header div ul {
  float: right;
  margin: 0;
  padding: 0;
  list-style-type: none; }

header div ul li {
  display: inline-block; }

header div ul li a {
  line-height: 70px;
  padding: 0 20px;
  display: block;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
  background-position: 100% 0%;
  background-size: 300%;
  transition: 1s;
  border-color: #000000;
  color: #000000;
  background-image: linear-gradient(90deg, #000000 50%, transparent 50%); }
  header div ul li a:hover {
    background-position: 0% 100%;
    color: white; }

#mobile {
  display: none;
  border: none;
  background-color: white;
  font: inherit;
  cursor: pointer; }

/* START SECTION */
.jumbotron {
  width: 100%;
  height: 100vh;
  background-image: url("images/start.jpg");
  background-size: cover;
  background-position: center; }

.jumbotron h1 {
  font-size: 40px;
  font-weight: 500;
  color: black;
  font-family: "Calligraffitti", cursive;
  text-align: center;
  padding-top: 50vh; }

.btn, .btn-takeMe {
  padding: 15px 30px;
  min-width: 200px;
  font-size: 16px;
  border-radius: 10px;
  cursor: pointer;
  background-color: inherit;
  border: 2px solid;
  background-position: 100% 0%;
  background-size: 300%;
  transition: 1s;
  border-color: #000000;
  color: #000000;
  background-image: linear-gradient(90deg, #000000 50%, transparent 50%); }
  .btn:hover, .btn-takeMe:hover {
    background-position: 0% 100%;
    color: white; }

.button {
  text-align: center; }

/* ABOUT ME SECTION */
.about-section {
  height: 100vh; }

.about-section h1 {
  font-size: 26px;
  text-align: center;
  margin-top: 20vh;
  margin-bottom: 10vh;
  border-bottom: solid 2px #EAEEF1;
  font-family: "Spectral SC", serif; }

.left-box, .right-box {
  padding: 0 20px;
  background-color: #EAEEF1;
  border: outset 1px black;
  border-right: inset 1px black;
  border-bottom: inset 1px black;
  height: 40vh;
  float: left;
  font-family: "Spectral SC", serif; }
  .left-box:hover, .right-box:hover {
    border: solid 1px black;
    transform: scale(1.1); }

.btn-takeMe {
  background-color: black;
  color: white; }

.arrows {
  float: left;
  text-align: center; }

.fa-exchange {
  line-height: 35vh;
  color: grey; }

.about-section h2 {
  text-align: center; }

/* RESPONSIVE SECTION */
.responsive-image {
  margin-top: 0vh;
  height: 50vh;
  background-image: url("images/responsive.png");
  background-position: center;
  background-repeat: no-repeat; }

.responsive-section {
  margin-top: 20vh;
  height: 100vh; }

.responsive-section h1 {
  font-size: 26px;
  font-weight: 500;
  color: black;
  font-family: "Spectral SC", serif;
  text-align: center; }

.responsive-section h2 {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  font-family: "Spectral SC", serif; }

/* PROJECTS SECTION */
.project-section {
  margin-top: 15vh;
  height: 100vh; }

.project-section h1 {
  font-size: 26px;
  font-weight: 500;
  color: black;
  font-family: "Spectral SC", serif;
  text-align: center; }

.project1, .project2, .project3, .project4 {
  border: solid 1px black;
  margin-top: 5vh;
  height: 30vh;
  background-image: url("images/game.png");
  background-size: cover;
  background-position: center;
  float: left; }

.project2 {
  float: right;
  background-image: url("images/quote.png"); }

.project3 {
  background-image: url("images/kanban.png"); }

.project4 {
  background-image: url("images/gif.png"); }

@media (max-width: 767px) {
  #dropdown {
    display: none; }

  header div ul {
    float: none; }

  header div ul li {
    display: block;
    background-color: white;
    border-bottom: solid 1px black;
    text-align: center; }

  header div a {
    float: none;
    display: none;
    margin: 0 auto; }

  #mobile {
    background-color: white;
    border-bottom: solid 1px black;
    display: block;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    height: 70px; }

  .jumbotron h1 {
    margin: 0 auto;
    font-size: 40px; }

  .button {
    margin: 20px 0; } }
@media (min-width: 1400px) {
  .jumbotron h1, .responsive-section h1 {
    font-size: 60px; } }

/*# sourceMappingURL=style.css.map */
