@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Roboto+Condensed:300')
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300|Roboto:100')

$grey: #EAEEF1
$simple: 'Roboto Condensed', sans-serif
$intro: 'Roboto', sans-serif

*
	box-sizing: border-box

body 
	margin: 0 auto

h1 
	font-size: 16px

.container 
	width: 100%
	max-width: 1200px
	margin: 0 auto

.row::before, .row::after 
	content: ''
	display: table
	clear: both

.col-1 
	width: 8.33%
.col-2 
	width: 16.66%
.col-3 
	width: 25%
.col-4 
	width: 33.33%
.col-5 
	width: 41.66%
.col-6 
	width: 50%
.col-7 
	width: 58.33%
.col-8 
	width: 66.66%
.col-9 
	width: 75%
.col-10 
	width: 83.33%
.col-11 
	width: 91.66%
.col-12 
	width: 100%

.col-offset-0 
	margin-left: 0
.col-offset-1 
	margin-left: 8.33%
.col-offset-2 
	margin-left: 16.66%
.col-offset-3 
	margin-left: 25%
.col-offset-4 
	margin-left: 33.33%
.col-offset-5 
	margin-left: 41.66%
.col-offset-6 
	margin-left: 50%
.col-offset-7 
	margin-left: 58.33%
.col-offset-8 
	margin-left: 66.66%
.col-offset-9 
	margin-left: 75%
.col-offset-10 
	margin-left: 83.33%
.col-offset-11 
	margin-left: 91.66%

/* HEADER */ 

header 
	width: 100%
	background-color: rgb(255,255,255)
	height: 70px
	position: fixed
	top: 0
	left: 0
	right: 0
	box-shadow: 0px 1px 5px grey

header
	div
		a 
			font-family: $simple
			float: left
			margin-left: 20px
			display: inline-block
			height: 70px
			line-height: 70px
			color: black
			text-decoration: none
			text-transform: uppercase
			letter-spacing: 2px

header
	div
		ul 
			float: right
			margin: 0
			padding: 0
			list-style-type: none

header
	div
		ul
			li 
				display: inline-block
				text-align: center

header
	div
		ul
			li
				a 
					font-family: $simple
					position: relative
					line-height: 70px
					padding: 0 20px
					margin: 0
					display: block
					color: black
					letter-spacing: 2px
					text-decoration: none
					text-transform: uppercase
					background-position: 0% 100%
					background-size: 300%
					transition: 1s
					&:after
						content: ''
						position: absolute
						bottom: 20px
						left: 0
						width: 0%
						border-bottom: 1px solid black
						transition: 0.4s
					&:hover:after
						width: 100%

#mobile 
	font-family: $simple
	display: none
	border: none
	background-color: white
	font: inherit
	cursor: pointer

.only-mobile
	display: none

/* START SECTION */

.jumbotron 
	width: 100%
	height: 100vh
	background-image: url("images/start.png")
	background-size: cover
	background-position: center

.jumbotron h1
	letter-spacing: 1px
	font-size: 40px
	font-weight: normal
	color: black
	font-family: $intro
	text-align: center
	padding-top: 55vh

.btn 
	font-size: 20px
	letter-spacing: 1px
	text-decoration: none
	color: black
	background: inherit
	padding: 15px 40px
	border-radius: 0px
	border: 1px solid rgba(0, 0, 0, 0.5)
	font-weight: normal
	font-family: $simple
	text-transform: uppercase
	transition: all 0.2s ease-in-out
	&:hover
		color: rgba(0, 0, 0, 1)
		box-shadow: 0px 1px 5px grey

#github, #github2
	margin-bottom: 20px

.button 
	text-align: center

/* CREDENSIALS SECTION */

.credensials h1
	font-size: 32px
	letter-spacing: 3px
	text-align: center
	margin-top: 15vh
	margin-bottom: 10vh
	border-bottom: solid 2px $grey
	font-family: $intro

.left-box, .right-box
	letter-spacing: 2px
	margin-bottom: 10vh
	padding: 0 30px
	background-color: $grey
	outline-style: solid
	outline-color: black
	outline-width: 1px
	height: auto
	float: left
	font-family: $intro
	&:hover
		outline-style: solid
		outline-color: black
		outline-width: 2px

.left-box p, .right-box p
	font-family: $simple
	font-size: 20px
	letter-spacing: 1px

.arrows
	float: left
	text-align: center

.arrows-mobile
	display: none

.fa-exchange
	line-height: 35vh
	color: grey

.credensials h2
	letter-spacing: 2px
	text-align: center

.logo
	font-family: $intro
	text-align: center

.logo h2
	font-size: 28px
	padding-top: 5vh

.logo img
	height: 80px

/* PROJECTS SECTION */

.project-section
	margin-top: 10vh
	padding-top: 5vh
	height: 100vh
	background-color: #5b5b59

.project-section h1
	letter-spacing: 3px
	border-bottom: solid 2px $grey
	font-size: 32px
	color: white
	font-family: $intro
	text-align: center

.project-div
	float: left
	margin-bottom: 5vh

.project1
	cursor: pointer
	margin: 0 auto
	background-image: url("images/game.png")
	background-size: cover
	background-position: center
	width: 25vw
	height: 15vw
	outline-style: solid
	outline-color: black
	outline-width: 1px
	&:hover
		outline: 2px
		outline-style: solid
		outline-color: black

.project2
	@extend .project1
	background-image: url("images/quote.png")

.project3
	@extend .project1
	background-image: url("images/kanban.png")

.project4
	@extend .project1
	background-image: url("images/gif.png")

/* ABOUT SECTION */

.about
	height: 80vh
	background-color: $grey
	box-shadow: 0px 2px 5px 0px grey

.text
	float: left
	padding-bottom: 20px

.about h1
	margin-top: 0
	letter-spacing: 3px
	padding-top: 5vh
	font-size: 32px
	color: black
	font-family: $intro
	text-align: center

.about p
	letter-spacing: 1px
	margin: 0 10vh
	font-size: 22px
	font-family: $simple

.myPhoto
	float: right
	height: 75%

/* FOOTER */

footer
	margin: 0 auto
	width: 100%
	background-color: rgb(255,255,255)
	height: 70px
	box-shadow: 0px -2px 5px grey

.contact
	float: left
	margin: 0
	padding: 0
	list-style-type: none

.a-contact
	margin-left: 20px
	letter-spacing: 2px
	font-family: $simple
	line-height: 70px
	display: block
	color: black
	text-decoration: none
	text-transform: uppercase

footer
	ul
		float: right
		margin: 0
		padding: 0
		list-style-type: none

footer
	ul
		li
			display: inline-block
			text-align: center

footer
	ul
		li
			a
				font-family: $simple
				position: relative
				line-height: 70px
				padding: 0 20px
				margin: 0
				display: block
				color: black
				letter-spacing: 2px
				text-decoration: none
				text-transform: uppercase
				background-position: 0% 100%
				background-size: 300%
				transition: 1s
				&:after
					content: ''
					position: absolute
					bottom: 20px
					left: 0
					width: 0%
					border-bottom: 1px solid black
					transition: 0.4s
				&:hover:after
					width: 100%

@media (max-width: 767px)

	.col-s-1 
		width: 8.33%
	.col-s-2 
		width: 16.66%
	.col-s-3 
		width: 25%
	.col-s-4 
		width: 33.33%
	.col-s-5 
		width: 41.66%
	.col-s-6 
		width: 50%
	.col-s-7 
		width: 58.33%
	.col-s-8 
		width: 66.66%
	.col-s-9 
		width: 75%
	.col-s-10 
		width: 83.33%
	.col-s-11 
		width: 91.66%
	.col-s-12 
		width: 100%

	.col-offset-s-0 
		margin-left: 0
	.col-offset-s-1 
		margin-left: 8.33%
	.col-offset-s-2 
		margin-left: 16.66%
	.col-offset-s-3 
		margin-left: 25%
	.col-offset-s-4 
		margin-left: 33.33%
	.col-offset-s-5 
		margin-left: 41.66%
	.col-offset-s-6 
		margin-left: 50%
	.col-offset-s-7 
		margin-left: 58.33%
	.col-offset-s-8 
		margin-left: 66.66%
	.col-offset-s-9 
		margin-left: 75%
	.col-offset-s-10 
		margin-left: 83.33%
	.col-offset-s-11 
		margin-left: 91.66%

	/* HEADER */

	header
		div
			ul
				li
					a 
						&:after
							border-bottom: 0

	#dropdown 
		display: none

	header
		div
			ul 
				float: none

	header
		div
			ul
				li 
					display: block
					background-color: rgb(255,255,255)
					border-bottom: solid 1px black
					text-align: center

	header
		div
			a 
				float: none
				display: none
				margin: 0 auto

	#mobile
		background-color: rgb(255,255,255)
		border-bottom: solid 1px black
		display: block
		width: 100%
		margin: 0 auto
		text-align: center
		height: 70px
		font-family: $simple

	.only-mobile
		display: block

	.jumbotron
		height: auto
		padding-bottom: 20px

	.jumbotron h1 
		padding-top: 50vh
		margin: 0 auto
		font-size: 40px

	.button 
		margin: 20px 0

	/* CREDENSIALS SECTION */

	.credensials
		height: auto

	.left-box, .right-box
		height: auto
		display: block
		margin-bottom: 5px

	.arrows
		display: none

	.arrows-mobile
		text-align: center
		clear: both
		display: block
		height: 100px

	.logo
		padding-top: 10px
		clear: both
		display: block

	/* PROJECTS SECTION */

	.project-section
		padding-top: 5vh

	.project-div
		padding-top: 5vh

	.project1
		width: 25vw
		height: 25vw

	/* ABOUT SECTION */

	.about
		overflow: auto
		height: auto

	.about
		h1
			padding-top: 15vh

	.text
		width: auto
		padding-bottom: 20px

	.text
		img
			display: block
			float: none
			margin: 0 auto

	/* FOOTER */
	
	.contact
		display: none

	footer
		ul
			float: none
			text-align: center
	


@media(min-width: 768px) and (max-width: 991px)

	.col-s-1 
		width: 8.33%
	.col-s-2 
		width: 16.66%
	.col-s-3 
		width: 25%
	.col-s-4 
		width: 33.33%
	.col-s-5 
		width: 41.66%
	.col-s-6 
		width: 50%
	.col-s-7 
		width: 58.33%
	.col-s-8 
		width: 66.66%
	.col-s-9 
		width: 75%
	.col-s-10 
		width: 83.33%
	.col-s-11 
		width: 91.66%
	.col-s-12 
		width: 100%

	.col-offset-s-0 
		margin-left: 0
	.col-offset-s-1 
		margin-left: 8.33%
	.col-offset-s-2 
		margin-left: 16.66%
	.col-offset-s-3 
		margin-left: 25%
	.col-offset-s-4 
		margin-left: 33.33%
	.col-offset-s-5 
		margin-left: 41.66%
	.col-offset-s-6 
		margin-left: 50%
	.col-offset-s-7 
		margin-left: 58.33%
	.col-offset-s-8 
		margin-left: 66.66%
	.col-offset-s-9 
		margin-left: 75%
	.col-offset-s-10 
		margin-left: 83.33%
	.col-offset-s-11 
		margin-left: 91.66%

	/* CREDENSIALS SECTION */

	.left-box, .right-box
		height: auto
		display: block
		margin-bottom: 5px

	.arrows
		display: none

	.arrows-mobile
		text-align: center
		clear: both
		display: block
		height: 100px

	.logo
		padding-top: 10px
		clear: both
		display: block

	/* ABOUT SECTION */

	.about
		height: auto
		overflow: visible

@media(min-width: 992px) and (max-width: 1199px)
	
	.col-s-1 
		width: 8.33%
	.col-s-2 
		width: 16.66%
	.col-s-3 
		width: 25%
	.col-s-4 
		width: 33.33%
	.col-s-5 
		width: 41.66%
	.col-s-6 
		width: 50%
	.col-s-7 
		width: 58.33%
	.col-s-8 
		width: 66.66%
	.col-s-9 
		width: 75%
	.col-s-10 
		width: 83.33%
	.col-s-11 
		width: 91.66%
	.col-s-12 
		width: 100%

	.col-offset-s-0 
		margin-left: 0
	.col-offset-s-1 
		margin-left: 8.33%
	.col-offset-s-2 
		margin-left: 16.66%
	.col-offset-s-3 
		margin-left: 25%
	.col-offset-s-4 
		margin-left: 33.33%
	.col-offset-s-5 
		margin-left: 41.66%
	.col-offset-s-6 
		margin-left: 50%
	.col-offset-s-7 
		margin-left: 58.33%
	.col-offset-s-8 
		margin-left: 66.66%
	.col-offset-s-9 
		margin-left: 75%
	.col-offset-s-10 
		margin-left: 83.33%
	.col-offset-s-11 
		margin-left: 91.66%

	/* CREDENSIALS SECTION */

	.left-box, .right-box
		height: auto
		display: block
		margin-bottom: 5px

	.arrows
		display: none

	.arrows-mobile
		text-align: center
		clear: both
		display: block
		height: 100px

	.logo
		padding-top: 10px
		clear: both
		display: block

	/* ABOUT SECTION */

	.about
		height: auto
		overflow: visible

@media screen and (orientation:portrait) and (min-width: 992px) and (max-width: 1199px)
	.project1
		width: 45vw
		height: 50vw

@media only screen and (-webkit-min-device-pixel-ratio: 3) and (max-device-width:1920px)
	/* High resolution phones and tablets */
	.col-m-1 
		width: 8.33%
	.col-m-2 
		width: 16.66%
	.col-m-3 
		width: 25%
	.col-m-4 
		width: 33.33%
	.col-m-5 
		width: 41.66%
	.col-m-6 
		width: 50%
	.col-m-7 
		width: 58.33%
	.col-m-8 
		width: 66.66%
	.col-m-9 
		width: 75%
	.col-m-10 
		width: 83.33%
	.col-m-11 
		width: 91.66%
	.col-m-12 
		width: 100%

	/* HEADER */

	header
		height: 110px
		margin: 0

	header
		div
			a
				font-size: 24px
				height: 110px
				line-height: 110px
				margin: 0
				padding-left: 40px

	header
		div
			ul
				li
					a
						margin: 0
						padding-right: 40px
						font-size: 24px
						height: 110px
						line-height: 110px
						&:after
							border-bottom: 0

	/* START SECTION */

	.jumbotron h1
		font-size: 80px

	.btn
		font-weight: lighter
		font-size: 60px
		padding: 30px 80px

	/* CREDENSIALS SECTION */

	.credensials
		margin-top: 0
		margin-bottom: 10vh

	.credensials h1
		font-size: 48px

	.credensials h2
		font-size: 40px

	.left-box
		margin-bottom: 50px

	.right-box
		margin-top: 50px

	.left-box p, .right-box p
		font-size: 30px

	.btn-mobile
		font-size: 30px

	.arrows
		padding: 50px 0

	.logo h2
		font-size: 40px

	/* PROJECTS SECTION */

	.project-section
		margin-top: 10vh

	.project-section h1
		font-size: 48px
		margin-top: 10vh

	.project-div
		padding-top: 5vh

	.project1
		width: 45vw
		height: 50vw

	/* ABOUT */

	.about h1
		font-size: 48px

	.about p
		margin: 0 5vh

	.photo-div
		text-align: center

	.myPhoto
		float: none
		text-align: center
		margin: 0 auto
		height: auto
	
	/* FOOTER */

	.a-contact
		font-size: 24px
		height: 110px
		line-height: 110px
		margin: 0
		padding-left: 40px

	footer
		height: 110px
		line-height: 110px
		margin: 0

	footer
		div
			ul
				li
					a
						margin: 0
						padding-right: 40px
						font-size: 24px
						height: 110px
						line-height: 110px

@media screen and (orientation:landscape) and (max-width: 991px)
	*
		box-sizing: border-box

	body 
		margin: 0 auto

	h1 
		font-size: 16px

	.container 
		width: 100%
		max-width: 1200px
		margin: 0 auto

	.row::before, .row::after 
		content: ''
		display: table
		clear: both

	.col-s-1 
		width: 8.33%
	.col-s-2 
		width: 16.66%
	.col-s-3 
		width: 25%
	.col-s-4 
		width: 33.33%
	.col-s-5 
		width: 41.66%
	.col-s-6 
		width: 50%
	.col-s-7 
		width: 58.33%
	.col-s-8 
		width: 66.66%
	.col-s-9 
		width: 75%
	.col-s-10 
		width: 83.33%
	.col-s-11 
		width: 91.66%
	.col-s-12 
		width: 100%

	.col-offset-s-0 
		margin-left: 0
	.col-offset-s-1 
		margin-left: 8.33%
	.col-offset-s-2 
		margin-left: 16.66%
	.col-offset-s-3 
		margin-left: 25%
	.col-offset-s-4 
		margin-left: 33.33%
	.col-offset-s-5 
		margin-left: 41.66%
	.col-offset-s-6 
		margin-left: 50%
	.col-offset-s-7 
		margin-left: 58.33%
	.col-offset-s-8 
		margin-left: 66.66%
	.col-offset-s-9 
		margin-left: 75%
	.col-offset-s-10 
		margin-left: 83.33%
	.col-offset-s-11 
		margin-left: 91.66%

	/* HEADER */ 

	header 
		width: 100%
		background-color: rgb(255,255,255)
		height: 70px
		position: fixed
		top: 0
		left: 0
		right: 0
		box-shadow: 0px 1px 5px grey

	header
		div
			a 
				font-family: $simple
				float: left
				margin-left: 20px
				display: inline-block
				height: 70px
				line-height: 70px
				color: black
				text-decoration: none
				text-transform: uppercase
				letter-spacing: 2px

	header
		div
			ul 
				float: right
				margin: 0
				padding: 0
				list-style-type: none

	header
		div
			ul
				li 
					display: inline-block
					text-align: center

	header
		div
			ul
				li
					a 
						font-family: $simple
						position: relative
						line-height: 70px
						padding: 0 20px
						margin: 0
						display: block
						color: black
						letter-spacing: 2px
						text-decoration: none
						text-transform: uppercase
						background-position: 0% 100%
						background-size: 300%
						transition: 1s
						&:after
							content: ''
							position: absolute
							bottom: 20px
							left: 0
							width: 0%
							border-bottom: 0
							transition: 0.4s
						&:hover:after
							width: 100%

	#mobile 
		font-family: $simple
		display: none
		border: none
		background-color: white
		font: inherit
		cursor: pointer

	.only-mobile
		display: none

	/* START SECTION */

	.jumbotron 
		width: 100%
		height: 100vh
		background-image: url("images/start.png")
		background-size: cover
		background-position: center

	.jumbotron h1
		letter-spacing: 1px
		font-size: 40px
		font-weight: normal
		color: black
		font-family: $intro
		text-align: center
		padding-top: 55vh

	.btn 
		font-size: 20px
		letter-spacing: 1px
		text-decoration: none
		color: black
		background: inherit
		padding: 15px 40px
		border-radius: 0px
		border: 1px solid rgba(0, 0, 0, 0.5)
		font-weight: normal
		font-family: $simple
		text-transform: uppercase
		transition: all 0.2s ease-in-out
		&:hover
			color: rgba(0, 0, 0, 1)
			box-shadow: 0px 1px 5px grey

	#github, #github2
		margin-bottom: 20px

	.button 
		text-align: center

	/* CREDENSIALS SECTION */

	.credensials h1
		font-size: 32px
		letter-spacing: 3px
		text-align: center
		margin-top: 15vh
		margin-bottom: 10vh
		border-bottom: solid 2px $grey
		font-family: $intro

	.left-box, .right-box
		letter-spacing: 2px
		margin-bottom: 10vh
		padding: 0 30px
		background-color: $grey
		outline-style: solid
		outline-color: black
		outline-width: 1px
		height: auto
		float: left
		font-family: $intro
		&:hover
			outline-style: solid
			outline-color: black
			outline-width: 2px

	.left-box p, .right-box p
		font-family: $simple
		font-size: 20px
		letter-spacing: 1px

	.arrows
		float: left
		text-align: center

	.arrows-mobile
		display: none

	.fa-exchange
		line-height: 35vh
		color: grey

	.credensials h2
		letter-spacing: 2px
		text-align: center

	.logo
		font-family: $intro
		text-align: center

	.logo h2
		font-size: 28px
		padding-top: 5vh

	.logo img
		height: 80px

	/* PROJECTS SECTION */

	.project-section
		margin-top: 10vh
		padding-top: 5vh
		height: 600px
		background-color: #5b5b59

	.project-section h1
		letter-spacing: 3px
		border-bottom: solid 2px $grey
		font-size: 32px
		color: white
		font-family: $intro
		text-align: center

	.project-div
		float: left
		margin-bottom: 5vh

	.project1
		cursor: pointer
		margin: 0 auto
		background-image: url("images/game.png")
		background-size: cover
		background-position: center
		width: 25vw
		height: 15vw
		outline-style: solid
		outline-color: black
		outline-width: 1px
		&:hover
			outline: 2px
			outline-style: solid
			outline-color: black

	.project2
		background-image: url("images/quote.png")

	.project3
		background-image: url("images/kanban.png")

	.project4
		background-image: url("images/gif.png")

	/* ABOUT SECTION */

	.about
		height: 800px
		background-color: $grey
		box-shadow: 0px 2px 5px 0px grey

	.text
		float: left
		padding-bottom: 20px

	.about h1
		margin-top: 0
		letter-spacing: 3px
		padding-top: 5vh
		font-size: 32px
		color: black
		font-family: $intro
		text-align: center

	.about p
		letter-spacing: 1px
		margin: 0 10vh
		font-size: 22px
		font-family: $simple

	.myPhoto
		float: right
		height: 400px

	/* FOOTER */

	footer
		margin: 0 auto
		width: 100%
		background-color: rgb(255,255,255)
		height: 70px
		box-shadow: 0px -2px 5px grey

	.contact
		float: left
		margin: 0
		padding: 0
		list-style-type: none

	.a-contact
		margin-left: 20px
		letter-spacing: 2px
		font-family: $simple
		line-height: 110px
		display: block
		color: black
		text-decoration: none
		text-transform: uppercase

	footer
		ul
			float: right
			margin: 0
			padding: 0
			line-height: 110px
			list-style-type: none

	footer
		ul
			li
				display: inline-block
				text-align: center

	footer
		ul
			li
				a
					font-family: $simple
					position: relative
					line-height: 70px
					padding: 0 20px
					margin: 0
					display: block
					color: black
					letter-spacing: 2px
					text-decoration: none
					text-transform: uppercase
					background-position: 0% 100%
					background-size: 300%
					transition: 1s
					&:after
						content: ''
						position: absolute
						bottom: 20px
						left: 0
						width: 0%
						border-bottom: 0
						transition: 0.4s
					&:hover:after
						width: 100%